version: '3.8'

services:
  mongodb:
    image: mongo:7
    restart: always
    container_name: nest-mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:
